<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Room</title>
</head>

<body>
    <div class="hotel-card">
        <hr>
    <div>
        <p><b>Type:</b> {{ room.get_type_room_display }}</p>
        <p><b>Price:</b> {{ room.price_room }}</p>
        <p><b>Capacity:</b> {{ room.cap_room }}</p>
        <p><b>Facilities:</b> {{ room.fac_room }}</p>
        <a href="order">Order</a>       <a href="cancel">Cancel</a>
        <hr>
    </div>
    </div>
    <div class="hotel-card-3"><h1>Comment:</h1>

    {% for comment in comments %}
    <hr>
    <div>
        <p><b>Point:</b> {{ comment.point }}/10</p>
        <p><b>Date:</b> <br>{{ comment.b_date }} - {{ comment.e_date }}</p>
        <p><b>User: {{ comment.user }}</b></p>
        <p>{{ comment.text_comment }}</p>
    </div>
    <hr>
    {% endfor %}

    </div>
    <div class="hotel-card-2"><h1>Add comment:</h1>
        <hr>
        <form action="/hotel/{{ room.id }}/" method="post">
            {% csrf_token %}
            <input type="text" name="user" hidden value="{{ user.id }}">
            {{ form.as_p }}
            <input type="submit" name="" value="Upload">
        </form></div>
</body>

</html>